html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

@font-face {
  font-family: zeoFlow;
  src: url(../assets/fonts/BeVietnam-Regular.ttf);
}

.home_holder {
  background-color: #ffffff;
  width: 60vw;
  height: 80vh;
  margin-top: 20vh;
  margin-left: 40vw;
  transform: translate(-20vw, -10vh);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.671),
    0 6px 18px 0 rgba(0, 0, 0, 0.19);
}

.toolbar {
  background-color: #3217EB;
  height: 56px;
  width: 100vw;
  position: fixed;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5),
    0 1px 1px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.toolbarContentHolder {
  font-size: 20px;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

.titleToolbar {
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  position: relative;
  padding-top: 9px;
  text-decoration: none;
  position: absolute;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  font-family: zeoFlow;
}

.content_holder {
  width:86vw;
  margin-left: 50%;
  transform: translate(-50%, 0);
  z-index: 0;
}

@media (max-width: 900px) {
  .content_holder {
    width:90vw;
  }
}

.header {
  height: 85px;
}

@media (max-width: 900px) {
  .header {
    height: 75px;
  }
}

.itemHolder {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 5px #000;
  font-family: zeoFlow;
}

@media (max-width: 900px) {
  .itemHolder {
    box-shadow: 0 0 3px #000;
  }
}

.h2title {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.2em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

@media (max-width: 900px) {
  .h2title {
    font-size: 1.2em;
  }
}

.titleContent {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

@media (max-width: 900px) {
  .titleContent {
    font-size: 0.9em;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.spaceAbove {
  margin-top: 30px;
}

.spaceBelow {
  margin-bottom: 90px;
}

@media (max-width: 900px) {
  .spaceAbove {
    margin-top: 20px;
  }
  
  .spaceBelow {
    margin-bottom: 80px;
  }
}

.socialLink {
  text-decoration: none;
  color: #0c38ca;
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  width: 0.8vw;
}

@media (max-width: 900px) {
  ::-webkit-scrollbar {
    width: 2vw;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}