html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  background-color: #3217EB;
}

.home_holder {
  background-color: rgba(255, 255, 255, 0.863);
  width: 60vw;
  height: 80vh;
  margin-top: 20vh;
  margin-left: 40vw;
  transform: translate(-20vw, -10vh);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.671),
    0 6px 18px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 950px) {
  .home_holder {
    width: 80vw;
    height: 90vh;
    margin-top: 10vh;
    margin-left: 20vw;
    transform: translate(-10vw, -5vh);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.671),
      0 6px 12px 0 rgba(0, 0, 0, 0.19);
  }
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.logoHolder {
  position: relative;
  width: 40%;
  height: 40%;
  margin-left: 30%;
}

.logoImg {
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contentHolder {
  position: relative;
  width: 60%;
  height: 60%;
  margin-left: 20%;
}

.contentText {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

@media (max-width: 950px) {

  .contentText {
    font-size: 30px;
  }
}
